<div class="ajout-point-interet-container">

    <div class="row">
        <div class="col">
            <h2>Points d'intérets</h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <label for="nom" class="col-sm-2 col-form-label label">Nom du lieu:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nom">
        </div>
    </div>

    <div class="row">
        <label for="adresse" class="col-sm-2 col-form-label label">Adresse:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="adresse">
        </div>
    </div>

    <div class="row">
        <label for="arrondissement" class="col-sm-2 col-form-label label">Arrondissement:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="arrondissement">
        </div>
    </div>
</div>
