<div class="statistique-container card">
    <div class="card-body">
        <h5 class="card-title">Statistiques du compteur</h5>
        <h6 class="card-subtitle mb-2 text-muted">Plage de dates :</h6>
        <div class="input-group mb-3">
            <span class="input-group-text">De :</span>
            <input type="text" class="form-control" placeholder="AAAA/MM/JJ" aria-label="De">
            <span class="input-group-text">À :</span>
            <input type="text" class="form-control" placeholder="AAAA/MM/JJ" aria-label="A">
        </div>
        <button routerLink="/chart" type="button" class="btn btn-primary">afficher résultats</button>
    </div>
</div>