.chart-container {
    background-color: white;
}

.btn-retour {
    width: 8em;
}
.middle {
    text-align: center;
}
#my-chart {
    padding-top: 1em;
    min-height: 25em;
}
hr {
    height: 0.25em;
}
.x_label {
    position: relative;
    left: 54%;
}
.y_label {
    position: relative;
    top: 40%;
    vertical-align: middle;
    writing-mode: sideways-lr;
    text-orientation: mixed;
}