<div class="chart-container" style="width: 800px; height: 80%;">
	
<div class="container mt-3">
	<h2 style="float: left; margin-top: 50px">Remembrance</h2>
<div style="float: left; margin-left: 150px;"> 
	<h4 style="text-align: center;">Période:</h4>
	<p style="text-align: left;"><b>Debut</b>: <span style="text-align: right;">{{dateFrom}}</span></p>
	<p><b style="text-align: left; margin-left: 23px;">Fin</b>: <span style="text-align: right;">{{dateTo}}</span></p>
</div>
	
	<div class="btn-group-vertical" style="float: right;">
	  <button type="button" class="btn btn-ltg"><b>Jour</b></button>
	  <button type="button" class="btn btn-ltg"><b>Semaine</b></button>
	  <button type="button" class="btn btn-ltg"><b>Mois</b></button>
	</div>
  </div>
    <canvas id="my-chart">
    </canvas>
</div>