
<div class="card">
    <div class="card-body">
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
        <div class="details-container">
            <h5 class="card-title">Détails</h5>
            <ng-container>
                <h6 class="card-subtitle mb-2 text-muted">Proximité: {{point.near_site}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Remarque: {{point.comment}}</h6>
            </ng-container>
            
        </div>
        
    </div>
</div>

