.point-interet-container {
    margin-top: 2em;
    background-color: white;
    padding: 0.5em;
}
.full-table-apply {
    display:block;
    margin-top: 2em;
    width: 98%;
    font-size: 14px;
    height: 460px;
    overflow-y: scroll;
}
.fa-map-marker {
    color: red;
}

.stats-search-btn {
    border: none;
    border-radius: 5px;
    opacity: 0.8;
}
.stats-search-btn:hover {
    opacity: 1;
}
