<div class="menu-container">
    <ul>
        <li>
            <a routerLink="/comptage-velo">
                <button type="button" [class]="getClassForButtonColor('/comptage-velo')">
                    Comptages de vélos
                </button>
            </a>
        </li>
        <li>
            <div class="dropdown" >
                <button [class]="getClassForButtonColor('/points-interets')" >Points d'intérêts</button>
                <div class="dropdown-content">
                  <a routerLink="/fontaines-a-boire">Fontaine à boire</a>
                  <a href="/reparation-velo">Réparation vélo</a>
                  <a href="/ajout-point-interet">Ajouter un point d'intérêt</a>
                </div>
              </div>
        </li>
    </ul>
</div>